.column1, .column2, .column3 {
  width: 60%;
}
.column1 {
  background-color: #F29D9F;
}
.column2 {
  background-color: #F5E330;
}
.column3 {
  background-color: #7FCFE4;
}
body {
  text-align: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
}
img {
  width: 250px;
  height: auto;
  float: left;
}
.important {
  font-style: italic;
  color: blue;
}
.name {
  font-weight: bold;
  font-family: fantasy;
}
h1 {
  font-family: fantasy;
  color: blue;
  font-size: 45px;
}
h2 {
  color: purple;
}
.sidebar {
  float: right;
  width: 25%;
  background-color: yellow;
  margin-top: 25px;
  border: 3px solid purple;

}
li {
  list-style-type: none;
  margin-right: 20px;
}
