.column {
  width: 60%;
}
body {
  text-align: center;
}
img {
  width: 250px;
  height: auto;
  float: left;
}
.important {
  font-style: italic;
  color: blue;
}
.name {
  font-weight: bold;
  font-family: fantasy;
}
h1 {
  font-family: fantasy;
  color: blue;
  font-size: 45px;
}
h2 {
  color: purple;
}
